@import url('https://fonts.googleapis.com/css?family=Raleway:100,200');

.appWrapper {
  padding: 150px;
  padding-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  background: #031019;
  color: #EBFAFF;
}
